* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.header {
    overflow: hidden;
    background-color: #9F1A1F;
    position: inherit;
  
    img.logo {
        float: left;
        font-size: 25px;
        font-weight: bold;
        width:110px;
        height:130px;
        padding-left: 10px;
        margin-right: 10px;
      }
    h2{
        padding-top:  16px;
        float: left;
        font-weight: bold;
        padding-left: 10px;
        margin-right: 50%;
        color: white;
    }
    h5{
        padding-top:  0;
        float: left;
        margin-right: 50%;
        padding-left: 10px;
        color: #8EF111;

    }
    
    
}

.header-right {
    float: right;
    font-weight: bold;
    padding-left: 10px;
    margin-right: 3%;
    margin-left: 30px;
    .tgl{
        font-size: 25px;
        padding-left: 60px;
        margin-left: 50px;
        color: white;
    }
  }
/* Style the tab */

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
      
    }
    
    .header-right {
      float: none;
    }
    .h3 {
        float: right;
    }
    .h5 {
        float: right;
    }
    .header-right {
      
      float: none;
      font-weight: bold;
      padding-left: 10px;
      margin-right: 3%;
      margin-left: 10px;
      .tgl{
          font-size: 18px;
          padding-left: 10px;
          
       
      }
    }
  }
